body{
    /* background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    background-image: url(login2.jpg);
}
.container{
    background-color: transparent;
    border: 20px;
    border-radius: 35px;   
    padding:1.5rem;
    margin:50px auto;
    align-items: center;
    width:450px;
    align-content: center;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
}
#input1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    text-transform: uppercase;
    text-align:center;
    height: 80px;
    color:#393e41dc;
}

#input{
    color:#051a25;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    width:100%;
    background-color: transparent;
    border:none;
}
.header{
    text-align: center;
    margin:4px;
    padding:55px;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.footer{
    background-color: #85a9cd;
    color:#051a25;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    text-align: center;
    margin:4px;
    padding:20px;
    border-radius: 5px;

}
#logo{
    color: black;
    background-color: #c9d6ff;
    padding: 4px;
    letter-spacing: 2px;
}
input{
    background-color: transparent;
    border:none;
    font-size: medium;
    color: rgb(63, 56, 56);
    border-bottom: 2px solid #ccc;

}
a{
    color:#051a25;
    text-decoration: none;
}